
/* Padding to ensure header doesn't abruptly start at the top of the page. */
header {
	padding-top: 20px;
}

/*###########################*/
/* Styles for the static icon panel at the top.
/*###########################*/

.icon{
	position: relative;
	padding-bottom: 20px
}

.icon .icon-notification{
	background: #fff;
	color: #fff;
	border: 2px solid #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	left: 108px;
	border-radius: 15px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background: red;
}

/*###########################*/
/* Styles for the top left panel,
/* containing level and reputation.
/*###########################*/

#level{
	font-size: 24px;
	font-weight: bold;
}

#money{
	font-size: 20px;
	font-weight: bold;
}

#percentage{
	font-size: 24px;
	font-weight: bold;
}

#percentage.is-orange
{
	color:#FF6600;
}

#percentage.is-light-orange
{
	color:#FF9900;
}
#percentage.is-red
{
	color:red;
}
#percentage.is-green
{
	color:green;
}

#reputation{
	font-size: 20px;
	font-weight: bold;
}

/*###########################*/
/* Styles for the right-hand panel,
/*containing employee details.
/*###########################*/

.employee-container {
	position: relative;
	margin-top: 20px;
	padding-left: 20px;
}

.employee-container .employee-icon img{
	width: 90px;
	top: 2px;
}

.employee-container .employee-count{
	background: #fff;
	border: 2px solid #000;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -2px;
	left: 27px;
	border-radius: 20px;
	line-height: 38px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;

}

.employee-container .employee-hotkey{
	position: absolute;
	right: 8px;
	top: -10px;
	z-index: 5;
}

.employee-container .employee-description{
	padding-bottom: 40px;
	font-size: 12px;
	right: 20px;
}


.employee-container .btn{
	background: #003366;
	color: #fff;
}


.employee-container .employee-price{
	position: absolute;
	right: 25px;
	left: 200px;
	bottom: 0px;
	font-size: 16px;
}



/*###########################*/
/* Styles for the canvas 
/* and elements displayed on top of it.
/*###########################*/

#canvas-container{
	background: url("../img/exasperated_on_phone.png");
}

#dialogue-box{
	margin-top: 110px;
	position: absolute;
	z-index: 5; /* Ensures button is on the topmost layer in order for it to be clicked. */
}

#game-over-box{
	position: absolute;
	display: none;
	margin-top: 200px;
	width: 100%;

}#wave-timer {
	margin-top: 150px;	
	position: absolute;
	width: 100%;
}

#wave-timer .timer {
	font-size: 48px;
}

