header .glyphicon{
	font-size: 48px;
}

header img{
	width:64px;
	bottom: 50px;
}


#level{
	font-size: 24px;
	font-weight: bold;
}

#money{
	font-size: 20px;
	font-weight: bold;
}

.icon{
	position: relative;
}

.icon .icon-notification{
	background: #fff;
	color: #fff;
	border: 2px solid #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	left: 108px;
	border-radius: 15px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background: red;
}

.employee-container {
	position: relative;
	margin-top: 20px;
	padding-left: 20px;
}

.employee-container .employee-count{
	background: #fff;
	border: 2px solid #000;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -2px;
	left: 27px;
	border-radius: 25px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.employee-container .employee-price{
	position: absolute;
	right: 5px;
	bottom: 0px;
	font-size: 16px;
}

.employee-container .employee-description{
	padding-bottom: 40px;
}

.employee-container .employee-icon img{
	width: 120px;
	top: 2px;
}